<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Bet</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="主页" href="/">首页</a></span>
<span><a title="竞猜" href="/guess">竞猜</a></span>
<span><a title="验证结果" href="/check">验证结果</a></span>
</nav>
<article>